.wrapper-with-border {
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .box {
    padding: 16px;
    margin: 0;
    background: linear-gradient(to bottom, #e9d8fd, #805ad5);
    color: #000;
    min-height: 40vw;
  }
  
  .heading {
    margin-bottom: 24px;
    text-align: center;
    font-size: 2xl;
    font-weight: 700;
  }
  
  .text {
    margin-bottom: 40px;
    font-size: lg;
    text-align: center;
  }
  
  .simple-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  
    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (min-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .stat {
      position: relative;
      width: 300px;
      height: 200px;
      background: #330099;
      border-radius: 15px;
      box-shadow: 
          10px 10px 20px #c9c9c9,    // Ánh sáng nhẹ bên dưới
          -10px -10px 20px #330099, // Ánh sáng tím bên trên
          0 0 30px #c9c9c9,         // Ánh sáng mờ trắng rực rỡ
          0 0 60px #330099,         // Ánh sáng mờ tím xa
          0 0 100px #330099;        // Ánh sáng mạnh hơn ở khoảng cách xa
      
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: Arial, sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
    }    
  }
  
  .stat-label {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .stat-number {
    font-size: 3xl;
    font-weight: 700;
  }
  
  .icon {
    width: 32px;
    height: 32px;
    color: #ed64a6;
  }
  
  .vstack {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .button {
    background-color: #ed64a6;
    color: #000;
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: md;
  
    &:hover {
      background-color: #d53f8c;
    }
  }
  