.Trung{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    .img{
        width: 100%;
        height: 400px;
        max-width: 100%;
        border-radius: 5%;
    }
    .info_trung{
        display: flex;
        gap: 10px;
        h3{
            font-size: 25px;
        }
        p{
            font-size: 16px;
        }
      
    }
}